# General
temp/*
test/bin/*
build.config
GameCenterExtensionTest-app.xml

# Not licensed for distribution
FlashRuntimeExtensions.h

# Eclipse FDT
.settings/*
.project
.svn

# Xcode
xcuserdata

# OS X
Icon
Thumbs.db
.DS_Store
actionscript/.flexLibProperties

actionscript/.flexLibProperties
